@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
:root{
  --bg-gray-lighter:#F6F7F9;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width:8px;
  padding:0 2px ;
}
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
::-webkit-scrollbar{
  height: 4px;
  width: 4px;
  background: rgb(238, 238, 238);
}
::-webkit-scrollbar-thumb:horizontal{
  background: #b3b3b3;
  border-radius: 10px;
}
